@font-face {
  font-family: ShortBaby;
  src: url(./styles/ShortBaby-Mg2w.ttf);
}

body {
  font-family: "Sedan SC", sans-serif;
  background-color: #dddddd;
}

main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 20px;
  padding: 20px;
}

.nav_card {
  width: 15vw;
  height: 90vh;
  background-color: black;
  border-radius: 30px;
  position: fixed;
  color: white;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 40px;
}

.user_photo img {
  border-radius: 60px;
}

.user_name {
  color: white;
}

.navbar {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 2rem;
  margin-top: 4rem;
}

.nav {
  display: flex;
  flex-direction: row;
  color: white;
  margin-left: 30px;
  padding-right: 20px;
  gap: 20px;
}

.nav:hover {
  color: gold;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.nav a:hover {
  color: #dddddd;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* padding-left: 1.5rem; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header > h1 {
  margin-top: 10px;
  margin-left: 50px;
  font-size: 38px;
  font-weight: 700;
}

#searchbar {
  height: 25px;
  width: 200px;
  border-radius: 12px;
  border: 0px solid white;
  background-color: white;
}

#searchbar:focus {
  border: 3px solid lightseagreen;
  outline: none;
}

#searchbar::placeholder {
  font-weight: 100;
  opacity: 70%;
}

.right {
  margin-left: 3rem;
}

#board {
  background-color: white;
  width: 80%;
  padding: 10px;
  border-radius: 30px;
  margin-left: 3rem;
}

.graph > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#card_con {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  font-family: ShortBaby;
  /* margin-left: 3rem; */
}

h2 {
  text-align: center;
  text-decoration: underline;
  margin-top: 70px;
}

h2:hover {
  font-size: 30px;
  text-decoration: underline rgb(243, 222, 37);
}

.card {
  width: 180px;
  height: 100px;
  border-radius: 20px;
  /* padding: 2px 2px; */
  border: 20px;
  margin-top: 40px;
}

.card > i {
  margin-left: 150px;
  margin-top: 20px;
}

.cardHead {
  margin: 0;
  margin-left: 10px;
  font-size: 18px;
}

.cardData {
  margin-top: 4px;
  font-size: 16px;
  margin-left: 10px;
}

.card:hover {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.revenue {
  background-color: rgba(144, 238, 144, 0.473);
}

.transaction {
  background-color: lightyellow;
}

.likes {
  background-color: rgba(255, 182, 193, 0.596);
}

.user {
  background-color: rgba(135, 206, 250, 0.377);
}

table {
  width: 90%;
  margin-left: 50px;
  background-color: white;
  border-collapse: collapse;
  margin-top: 40px;
}

table th,
table td {
  padding: 15px 100px;
  text-align: left;
}

table th {
  background-color: rgb(163, 150, 150);
  font-weight: 600;
}

table tbody tr:nth-child(even) {
  background-color: rgb(249, 249, 249);
}

table tbody tr:hover {
  background-color: rgb(234, 234, 234);
}

#schedule {
  background-color: white;
  height: 34rem;
  width: 90%;
  margin-left: 50px;
  margin-top: 60px;
  border-radius: 20px;
  padding: 15px;
  overflow: scroll;
  overflow-x: hidden;
}
