/* @font-face {
  font-family: "Sedan SC";
  src: url(./styles/SedanSC-Regular.ttf);
} */

/* span {
    color: red;
    }
    
    span:hover{
        color: brown;
        } */

body {
  font-family: "Sedan SC", sans-serif;
}

main{
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 20px;
    padding: 20px;
    
}

.left{
    background-color: blue;
}

.right{
    background-color: green;
}
